@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to your Daily Blogger</h1>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        -->
        <p>New Blog Post <a href="/blog/New">Here</a></p>
        <p>List Blog Posts <a href="/blog/List">Here</a></p>

    </div>
